extends layout

block content
  h1 Customer Comments
  
  // Form to submit a comment
  form(method='POST' action='/create')

    // Name input
    label(for='name') Name
    input(type='text', name='name', id='name', required)

    // Comment input
    label(for='comment') Comment
    textarea(name='comment', id='comment', rows='4', required)

    button(type='submit') Submit

  hr

  h2 What People Are Saying

  if comments.length === 0
    p No comments yet. Be the first!
  
  each comment in comments
    .comment
      p= comment.comment
      span.timestamp Posted on {comment.created_at}