extends layout

block content
  // Hero section
  .hero
    // Logo image
    img.logo(src='/images/logo.png', alt='Downtown Donuts logo', class='logo')

    // Brand title
    h1.brand-title Downtown Donuts

    // Since 1992 image
    img.since-img(src='/images/since.png', alt='Since 1992', class='since')

    // Short tagline
    p.tagline Fresh donuts. Fresh coffee. Made daily.