extends layout

block content
  // Big title for the page
  h1 Downtown Donuts

  // Quick tagline so users know what this place is about
  p Fresh donuts, coffee, and community since 1992.

  // Simple link to the menu page
  a(href="/menu") View Menu