doctype html
html
  head
    title= title
    // Import Italianno for headings and Montserrat for body
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Italianno&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    // Navbar for navigation
    nav
      a(href="/") Home
      a(href="/menu") Menu
      a(href="/about") About
      a(href="/comments") Comments

    // Main page stuff
    main
      block content