extends layout

block content
  // Page title
  h1 Menu
  
  // Donuts section
  section.menu-section
    h2 Signature Donuts

    .menu-item
      span Classic Glazed
      span.price $2.50
    p.desc Light, fluffy, and perfectly glazed

    .menu-item
      span Maple Bacon Bar
      span.price $3.75
    p.desc Rich maple glaze with crispy bacon

    .menu-item
      span Boston Cream
      span.price $3.50
    p.desc Bavarian cream with chocolate topping
  
  // Coffee section
  section.menu-section
    h2 Coffee

    .menu-item
      span Drip Coffee
      span.price $2.25 - $3.25

    .menu-item
      span Cold Brew
      span.price $4.25 - $5.25
    
    .menu-item
      span Latte
      span.price $4.25 - $5.25
  
  // Breakfast section
  section.menu-section
    h2 Breakfast Bites
    
    .menu-item
      span Egg & Cheese Croissant
      span.price $5.50
    
    .menu-item
      span Bacon Breakfast Sandwich
      span.price $6.25